//= require fonts
//= require normalize
//= require pygments
//= require_self

@import bourbon
@import neat

$pink: #DC628C
$green: #93B45F

h1, h2, h3, h4, h5, h6
  font-weight: 300

a
  color: inherit

.notice
  background: $pink
  color: white
  text-align: center
  padding: 1em
  border-bottom: 5px solid $green
  p
    margin: 0

body
  +outer-container
  font-family: 'Lato', sans-serif
  font-size: 14pt
  font-weight: 300
  line-height: 1.5em

.highlight pre
  font-family: 'Ubuntu Mono', sans-serif
  padding: 0.3em 1em
  background: #272822
