!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag 'documentation'
    = javascript_include_tag 'documentation'

  %body{class: page_classes}
    %header.notice
      :markdown
        En cas de problème avec la documentation, veuillez [ouvrir une issue](https://github.com/ares-ensiie/documentation/issues/new) ou nous contacter sur [#ares](irc://irc.iiens.net/%23ares)
    %article
      = preserve do
        = yield
